{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/video_contest/gallery.css' %}">
{% endblock %}

{% block header %}
    {% include 'header.html' with user=user search=search nav_items=nav_items %}
{% endblock %}

{% block body %}
<h1>{{ video_contest.title }}</h1>

<ul class="nav gallery-nav">
    {% for group in groups  %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" data-toggle="pill" href="#group_{{ group.id }}">
                <h2>{{ group.name }}</h2>
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for group in groups  %}
        <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="group_{{ group.id }}" role="tabpanel">
            <div class="row">
                {% for registration in registrations|hash:group.id %}
                    {% url 'video_contest_video' video_contest_id=video_contest.id video_id=registration.id as video_url %}
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 video-grid">
                        <a href="{{ video_url }}">
                            <img class="img-fluid" src="{{ registration.cover_url }}">
                        </a>
                        <div class="video-meta">
                            <a href="{{ video_url }}">
                                <h3 class="video-title">{{ registration.video_title|truncatechars:40 }}</h3>
                            </a>
                            <a href="{{ video_url }}">
                                <small class="text-muted">
                                    {{ registration.contestant_name }}
                                </small>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
