{% extends 'page.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/video_contest/gallery.css' %}">
{% endblock %}

{% block body %}
<h1 class="mb-1">{{ video_contest.title }}</h1>
<p class="text-muted mb-4">點擊影片可看到影片簡介，也能參與投票喔！</p>

<ul class="nav gallery-nav">
    {% for group in groups  %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" data-toggle="pill" href="#group_{{ group.id }}">
                <h2>{{ group.name }}</h2>
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for group in groups  %}
        <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="group_{{ group.id }}" role="tabpanel">
            {% if not registrations|hash:group.id %}
                <!-- FIXME: show message for expired event in gallery page without videos -->
                <div class="mt-5">
                    <p class="text-center">影片審核中</p>
                    <p class="text-center">歡迎<a href="{% url 'video_contest_form' video_contest_id=video_contest.id %}" class="text-dark"><u>報名</u></a></p>
                </div>
            {% else %}
                <div class="row">
                    {% for registration in registrations|hash:group.id %}
                        {% url 'video_contest_video' video_contest_id=video_contest.id video_number=registration.video_number as video_url %}
                        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 video-grid">
                            <a href="{{ video_url }}">
                                <img class="img-fluid" src="{{ registration.cover_url }}">
                            </a>
                            <div class="video-meta">
                                <a href="{{ video_url }}">
                                    <h3 class="video-title">#{{ registration.video_number }} {{ registration.video_title|truncatechars:40 }}</h3>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
