{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/video_contest/info.css' %}">
{% endblock %}

{% block content %}
<h1>
    {{ video_contest.title }}
</h1>
<div>
    {{ video_contest.body|safe }}
</div>
{% endblock %}

{% block sidebar %}
    {% include 'video_contest/info_sidebar.html' with video_contest=video_contest count_qualified=count_qualified modal=modal %}
{% endblock %}

{% block footer %}
    {% if modal %}
        {% include 'modal.html' with modal=modal %}
    {% endif %}
{% endblock %}
