{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block header %}
    {% include 'header.html' with user=user search=search nav_items=nav_items %}
{% endblock %}

{% block content %}

<h1 class="post-title">{{ video_contest.title }}</h1>

<div class="row">
    <div class="col-md-8 post-body">
        {{ video_contest.body|safe }}
    </div>

    <aside class="col-md-3 offset-sm-1">
        <div class="sidebar-module sidebar-module-inset">
            <div class="row">
                <a href="{% url 'video_contest_form' video_contest_id=video_contest.id %}" class="btn btn-primary">我要報名</a>
            </div>
            <div class="row">
                {% for registration in registrations  %}
                <img class="rounded-circle float-right event-attendee-avatar" src="{{ registration.submitter.profile.avatar_url }}">
                {% endfor %}
            </div>
            <p>{% if rest_submitters > 0 %}和其他 {{ rest_submitters }} 個人{% endif %}已報名</p>
        </div>
    </aside>
</div>

{% endblock %}
