{% extends 'page.html' %}
{% load staticfiles %}
{% load filters %}

{% url 'video' post_id=video_contest.id video_number=object.video_number as video_url %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-8 blog-main">
            <div class="blog-post">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/{{ object.youtube_id }}"
                        frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="blog-post-title">
                    #{{ object.video_number }} {{ object.video_title }}
                </h2>
                <div class="row align-items-center mb-4">
                    <div class="col-auto mr-auto">
                        <p class="blog-post-meta my-0">
                            {{ object.group.name }}／共得到 {{ object.votes }} 票
                        </p>
                    </div>

                    <div class="col-auto">
                        {% if voting_modal %}
                            <button class="btn btn-sm btn-outline-dark py-0" data-toggle="modal" data-target="#{{ voting_modal.target.id }}">
                                +1
                            </button>
                        {% else %}
                            <form action="{% url 'video_votes' post_id=video_contest.id video_number=object.video_number %}" method='post'>
                                {% csrf_token %}
                                {{ vote_form }}
                                <button type="submit" class="btn btn-sm btn-outline-dark py-0">
                                    {% if is_voted %}
                                        -1
                                    {% else %}
                                        +1
                                    {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-auto pl-0">
                        {% include 'facebook/share_button.html' with url=video_url %}
                    </div>
                </div>

                {{ object.introduction|linebreaks }}
            </div>
        </div>

        <aside class="col-lg-4 blog-sidebar">
            {% if other_videos %}
                <div class="row">
                    <h4>
                        更多影片
                    </h4>
                </div>
            {% endif %}

            {% for video in other_videos %}
                {% url 'video' post_id=video_contest.id video_number=video.video_number as video_url %}
                <div class="row pb-2">
                    <div class="col-3 col-lg-4 pl-0 pr-2">
                        <a href="{{ video_url }}">
                            <img class="img-fluid" src="{{ video.cover_url }}">
                        </a>
                    </div>
                    <div class="col-9 col-lg-8 p-0">
                        <a href="{{ video_url }}">
                            <p class="video-meta-title mb-0">
                                <strong class="text-dark">
                                    #{{ video.video_number }} {{ video.video_title|truncatechars:60 }}
                                </strong>
                            </p>
                        </a>
                        <a href="{{ video_url }}">
                            <p class="video-meta mb-0">
                                <small class="text-muted">
                                    {{ video.contestant_name }}
                                </small>
                            </p>
                        </a>
                        <a href="{{ video_url }}">
                            <p class="video-meta mb-0">
                                <small class="text-muted">
                                    {{ video.group.name }}／共得到 {{ video.votes }} 票
                                </small>
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </aside>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% if voting_modal %}
        {% include 'modal.html' with modal=voting_modal %}
    {% endif %}
{% endblock %}
