{% extends 'page.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block body %}

<main role="main" class="container">
    <div class="blog-main">
        <h2 class="blog-post-title mb-5">
            {{ video_contest.title }} 得獎者
        </h2>

        <div class="col">
            {% for prize in prizes %}
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                    {{ prize }}
                </h3>
                <div class="row">
                {% for winner in prizes|hash:prize %}

                    {% url 'video' post_id=video_contest.id video_number=winner.registration.video_number as video_url %}

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <a class="text-dark" href="{{ video_url }}">
                                <img class="card-img-top flex-auto" src="{{ winner.registration.cover_url }}" data-holder-rendered="true">
                            </a>
                            <div class="card-body d-flex flex-column align-items-start">
                                <h4>
                                    <a class="text-dark" href="{{ video_url }}">
                                        #{{ winner.registration.video_number }} {{ winner.registration.video_title }}
                                    </a>
                                </h4>
                                <div>
                                    <a class="text-dark" href="{{ video_url }}">
                                        <p>
                                            {{ winner.registration.contestant_name }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}
