<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <style>
        #someselector {
            all: initial;
            * {
                all: unset;
            }
        }
        table {
            width: 100%;
        }
        thead th {
            background-color: #ddd
        }
        th, td {
            border-bottom: 1px solid black;
        }
        tr > :first-child {
            border-right: 1px solid black;
            width: 30%;
        }
    </style>
</head>

<body>
    <h1>{{ salon.title }} 報名資料</h1>
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>電話</th>
                <th>信箱</th>
            </tr>
        </thead>
        <tbody>
        {% for reg in registrations %}
            <tr>
                <td align="center">{{ reg.contestant_name }}</td>
                <td align="center">{{ reg.phone_number }}</td>
                <td align="center">{{ reg.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
