@media (min-width: 992px) {
    body > .body {
        width: 992px;
    }
}

.post-title {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.post-body img {
    width: 100%;
    height: auto;
}

.post-body h1 {
    font-size: 42px;
    margin-top: 40px;
}

.post-body h2 {
    font-size: 34px;
    margin-top: 50px;
    text-decoration: underline;
}

.event-attendee-avatar {
    display: block;
    max-width: 24px;
    max-height: 24px;
    margin-left: 4px;
    width: auto;
    height: auto;
}
