.content {
    color: rgba(0, 0, 0, 0.84);
    font-size: 21px;
}

.body h1 {
    font-size: 42px;
}

.body h3 {
    font-size: 34px;
    margin-top: 50px;
}

.body h4 {
    font-size: 26px;
    margin-top: 40px;
}

.body p {
    margin-top: 8px;
}

.content .post-body img {
    width: 100%;
    height: auto;
}

.sidebar h5 {
    font-size: 18px;
}

.sidebar p {
    font-size: 16px;
}
