{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    {% block page_title %}<title>李江却台語文教基金會活動網站</title>{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <header class="header header-home">
            <div class="row nav">
                <div class="col-12 col-xl-4 offset-xl-4 text-center">
                    <a href="{% url 'home' %}">
                        <h1 class="header-title text-dark my-3">李江却台語文教基金會</h1>
                    </a>
                </div>
                <div class="col mt-lg-3">
                    <div class="row
                        justify-content-center
                        justify-content-xl-end">
                        {% if search %}
                            <form class="form-inline">
                                <input class="form-control mx-2 col-8" type="search" placeholder="{{ search.placeholder }}" aria-label="Search">
                                <button class="btn btn-outline-dark" type="submit">搜尋</button>
                            </form>
                        {% endif %}
                        {% if user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark px-0 py-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle float-right avatar" src={{ user.profile.avatar_url }}>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">登出</a>
                                </div>
                            </li>
                        {% else %}
                            <button class="btn btn-outline-dark" type="submit">登入／註冊</button>
                        {% endif %}
                    </div>
                </div>

            </div>
            <nav class="navbar navbar-expand-sm navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto justify-content-center mx-auto">
                        {% for nav_item in nav_items  %}
                            {% if nav_item.current %}
                                <li class="nav-item active">
                            {% else %}
                                <li class="nav-item">
                            {% endif %}
                                <a class="nav-link px-3 py-0" href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            var navbar = $('.navbar');
            var content = $('.content');
            var origOffsetY = navbar.offset().top;

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY) {
                    navbar.addClass('fixed-top');
                    content.addClass('header-home-padding');
                } else {
                    navbar.removeClass('fixed-top');
                    content.removeClass('header-home-padding');
                }
            }
            document.onscroll = scroll;
        });
    </script>
</body>
</html>
