{% extends 'post.html' %}
{% load staticfiles %}

{% load filters %}

{% block body %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                {{ object.body|safe }}
            </div>
        </div>
        <aside class="col-md-4 blog-sidebar">
            {% url 'post' post_id=object.id as event_url %}
            <div class="p-3 mb-3 bg-light rounded">
                <div class="row mx-0 my-2">
                    <div class="col px-0">
                        <h4>
                            活動資訊
                        </h4>
                    </div>
                    <div class="justify-content-end">
                        {% include 'facebook/share_button.html' with url=event_url %}
                    </div>
                </div>

                {% include 'event/sidebar.html' with event=object info=sidebar_info modal=registration_modal %}
            </div>
        </aside>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% if registration_modal %}
        {% include 'modal.html' with modal=registration_modal %}
    {% endif %}
{% endblock %}
