{% extends 'post.html' %}
{% load staticfiles %}

{% load filters %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="content col-lg-9">
        <h1>
            {{ object.title }}
        </h1>
        <div>
            {{ object.body|safe }}
        </div>
    </div>
    <aside class="sidebar col-lg-3">
        {% url 'post' post_id=object.id as event_url %}
        <div class="card meta">
            <div class="card-body p-2">
                <div class="row mx-0 my-2">
                    <div class="col px-0">
                        <h5 class="card-title my-0">活動資訊</h5>
                    </div>
                    <div class="justify-content-end">
                        {% include 'facebook/share_button.html' with url=event_url %}
                    </div>
                </div>
                {% include 'event/sidebar.html' with event=object info=sidebar_info modal=registration_modal %}
            </div>
        </div>
    </aside>
</div>
{% endblock %}

{% block footer %}
    {% if registration_modal %}
        {% include 'modal.html' with modal=registration_modal %}
    {% endif %}
{% endblock %}
