{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    {% if ga_tracking_id %}
        {% include "ga.html" %}
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% if meta_title %}
            {{ meta_title }}
        {% else %}
            李江却台語文教基金會活動網站
        {% endif %}
    </title>

    {% for property, content in meta_tags.items  %}
        <meta property="{{ property }}" content="{{ content }}">
    {% endfor %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=321902881655337&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
        {% include 'header.html' with user=user search=search nav_items=nav_items %}
    </div>
    <div class="container body">
        {% block body %}{% endblock %}
    </div>


    {% block footer %}{% endblock %}
    <footer class="my-5 pt-5 text-center text-muted text-small">
        <div class="container">
            <p>李江却台語文教基金會</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href={% url 'policy_privacy' %} class="text-muted"><u>隱私權政策</u></a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            var navbar = $('.header-home .navbar');
            if (navbar.offset() === undefined) {
                return;
            }
            var container = $('body > .container');
            var origOffsetY = navbar.offset().top;

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY) {
                    navbar.addClass('fixed-top');
                    // navbar.addClass('container');
                    // navbar.addClass('px-0');
                    container.addClass('header-padding');
                } else {
                    navbar.removeClass('fixed-top');
                    // navbar.removeClass('container');
                    // navbar.removeClass('mx-0');
                    container.removeClass('header-padding');
                }
            }
            document.onscroll = scroll;
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        {% block script %}{% endblock %}
    </script>
</body>
</html>
