{% extends 'page.html' %}
{% load staticfiles %}

{% load filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block body %}

{% if show_headline and headline %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% url 'post' post_id=headline.id as headline_url %}
            {% if headline.cover_url %}
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <a href="{{ headline_url }}">
                            <img class="card-img-top" src="{{ headline.cover_url }}">
                        </a>
                    </div>
                    <div class="col-12 col-lg-5 lead">
                        <a href="{{ headline_url }}">
                            <h2 class="text-dark display-6">{{ headline.title }}</h2>
                        </a>
                        <a href="{{ headline_url }}">
                            <div class="text-dark">
                                {{ headline.body|summerize:150|linebreaks }}
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row">
    {% for post in object_list  %}
        {% url 'post' post_id=post.id as post_url %}
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                {% if post.cover_url %}
                    <a href="{{ post_url }}">
                        <img class="card-img-top" src="{{ post.cover_url }}">
                    </a>
                {% endif %}
                <div class="card-body">
                    <a href="{{ post_url }}">
                        <h2 class="text-dark">{{ post.title }}</h2>
                    </a>

                    <a href="{{ post_url }}">
                        <div class="text-dark">
                            {{ post.body|summerize:100|linebreaks }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
