{% extends 'page.html' %}
{% load staticfiles %}

{% block body %}
<div>
    <h1 class="text-center">感謝你的報名</h1>
    <p class="text-center">
        <span id="countdown">{{ countdown }}</span> 秒後將導回 <a class="text-dark border-bottom border-dark" href="{% url 'post' post_id=post_id %}">活動頁面</a>
    </p>
</div>

<script>
    var seconds = {{ countdown }};

    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            window.location.href = "{% url 'post' post_id=post_id %}";
        } else {
            document.getElementById("countdown").innerHTML = seconds;
            setTimeout(countdown, 1000);
        }
    }
    countdown()
</script>
{% endblock %}
